.locale-switcher {
  display: flex;
  align-items: center;
  column-gap: 0.25rem;
  padding: 0.2rem;
  border: 1.5px solid var(--title-color);
  border-radius: 0.75rem;
}

.locale-switcher__item {
  padding: 0.2rem 0.5rem;
  border-radius: 0.5rem;
  font-size: var(--smaller-font-size);
  font-weight: var(--font-semi-bold);
  color: var(--title-color);
}

.locale-switcher__item.is-active {
  background-color: var(--title-color);
  color: var(--container-color);
}

@media screen and (max-width: 768px) {
  .locale-switcher {
    margin-left: auto;
    margin-right: 0.5rem;
  }
}
